disk_map:
  - name: docker_data
    device: /dev/sdb
    partition: 1
    mountpoint: "/mnt/docking_data"
    mountpoint_mode: '0755'

app_base_dir: /mnt/docking_data/

deploy_docker_service_definitions:
  plex_stack:
    services:
      plex:
        image:  lscr.io/linuxserver/plex:1.41.3
        container_name: plex
        network_mode: host
        runtime: nvidia
        environment:
          PUID: "1100"
          PGID: "1100"
          TZ: "Europe/London"
          PLEX_CLAIM: "{{ lookup('bws_cache', 'plex_claim').value }}"
          NVIDIA_VISIBLE_DEVICES: all
          VERSION: docker
        volumes:
          - /mnt/docking_data/plex/config:/config
          - /mnt/plex_media/media/tv:/tv
          - /mnt/plex_media/media/movies:/movies
        restart: unless-stopped

      overseerr:
        image: sctx/overseerr:latest
        container_name: overseerr
        environment:
          TZ: "Europe/London"
        ports:
          - 5055:5055
        volumes:
          - /mnt/docking_data/overseerr/config:/app/config
        restart: unless-stopped

      sonarr:
        image: ghcr.io/hotio/sonarr:release-4.0.10.2544
        container_name: sonarr
        environment:
          PUID: "1100"
          PGID: "1100"
          UMASK: "002"
          TZ: "Europe/London"
        ports:
          - "8989:8989"
        volumes:
          - /mnt/docking_data/sonarr/config:/config
          - /mnt/plex_media/:/data
        restart: unless-stopped

      radarr:
        image: ghcr.io/hotio/radarr:release-5.14.0.9383
        container_name: radarr
        environment:
          PUID: "1100"
          PGID: "1100"
          UMASK: "002"
          TZ: "Europe/London"
        ports:
          - "7878:7878"
        volumes:
          - /mnt/docking_data/radarr/config:/config
          - /mnt/plex_media/:/data
        restart: unless-stopped


      sabnzbd:
        image: ghcr.io/onedr0p/sabnzbd:4.3.3
        user: 1100:1100
        command: --logging 0
        container_name: sabnzbd
        environment:
          TZ: "Europe/London"
        ports:
          - "8080:8080"
        volumes:
          - /mnt/docking_data/sabnzbd/config:/config
          - /mnt/plex_media/downloaded/:/data/downloaded
          - /mnt/plex_media/downloading/:/data/downloading
        restart: unless-stopped
  web_proxy:
    web:
      image: nginx

  unifi_controller:
    services:
      unifi-controller:
        image: lscr.io/linuxserver/unifi-controller:latest
        container_name: unifi-controller
        environment:
          - PUID=1000
          - PGID=1000
          - TZ=Etc/UTC
          - MEM_LIMIT=1024 # optional
          - MEM_STARTUP=1024 # optional
        volumes:
          - /path/to/data:/config
        ports:
          - 8443:8443
          - 3478:3478/udp
          - 10001:10001/udp
          - 8080:8080
          - 1900:1900/udp # optional
          - 8843:8843 # optional
          - 8880:8880 # optional
          - 6789:6789 # optional
          - 5514:5514/udp # optional
        restart: unless-stopped
  wakapi:
    services:
      wakapi:
        image: ghcr.io/muety/wakapi:2.12.2
        ports:
          - 3000:3000
        volumes:
          - /mnt/docking_data/wakapi/:/data/
        restart: unless-stopped
        environment:
          WAKAPI_PASSWORD_SALT: "{{ lookup('bws_cache', 'wakapi_salt').value }}"
          WAKAPI_ALLOW_SIGNUP: 'false'
          WAKAPI_LEADERBOARD_ENABLED: 'false'
          WAKAPI_DISABLE_FRONTPAGE: 'true'
          WAKAPI_EXPOSE_METRICS: 'true'
          WAKAPI_PUBLIC_URL: http://waka.ripplefcl.com
  taskin:
    services:
      taskin-api:
        image: ghcr.io/ripplefcl/taskin-api:0.1.1
        volumes:
          - /mnt/docking_data/taskin/database.db:/app/database.db

      taskin-ui:
        image: ghcr.io/ripplefcl/taskin-ui:0.1.1
        ports:
          - 8888:8080
        environment:
          API_URL: http://taskin-api:8080/
  grafana:
    services:
      grafana:
        image: grafana/grafana
        user: 1000:1000
        container_name: grafana
        ports:
          - '3000:3000'
        volumes:
          - /mnt/docking_data/grafana:/var/lib/grafana
