KLIPPER_ARGS="{{ mainsail_klipper_dir }}/klippy/klippy.py {{ mainsail_printer_config_dir }}/printer.cfg -l {{ mainsail_printer_logs_dir }}/klippy.log -I {{ mainsail_printer_comms_dir }}/klippy.serial -a {{ mainsail_printer_comms_dir }}/klippy.sock"
